body * {
	font-weight: 200 !important;
}

.fileupload {
	font-size: 200%;
	color: rgba(0,0,0,.2);
	height: 250px;
	cursor: pointer;
}

.fileupload.dragover {
	background: #666;
	color: #FFF;
}

.fileupload.success {
	background: #5cb85c;
	border-color: #4cae4c;
	color: #FFF;
	padding-top: 70px;
	cursor: default;
}

.fileupload.success a {
	text-decoration: none;
	color: rgba(255,255,255,.8);
	font-size: 50%;
}